{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block orderListActive %}class="active"{% endblock %}

{% block content %}
  <h1 class="header">Orders</h1>
  {% for User in Users %}
    {% if User.id in orderItemOrderers %}
      <h2>{{User.username}}</h2>
      {% for orderItem in orderItems %}
        {% if orderItem.orderer == User %}
          <ul>
            <li>{{ orderItem.item }}x {{ orderItem.quantity }} - {{ orderItem.orderer }}</li>
          </ul>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endblock %}

<!--<h2>{{ orderItem.orderer }}</h2>
<div>
  <h2>{{ orderItem.item }}x {{ orderItem.quantity }} - {{ orderItem.orderer }}</h2>
<div>-->
