{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block orderListActive %}class="active"{% endblock %}

{% block content %}
  <h1 class="header">Orders</h1>
  {% for order in orders %}
    <div>
      <h2>Orderer: {{ order.orderer }}</h2>
      <h3>Items</h3>
      <ul>
        {% for orderItem in orderItems %}
          {% if orderItem.order == order %}
            <li>{{ orderItem }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    <div>
  {% endfor %}
{% endblock %}
